@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #2D3748;
}

::-webkit-scrollbar-thumb {
    background: #CBD5E0;
}

::-webkit-scrollbar-thumb:hover {
    background: #718096;
}

.rotated-90 {
    transform: rotate(-90deg);
  }
  
  .hidden {
    display: none;
  }
  
  .ml-2 {
    margin-left: 0.5rem; 
  }
  
  .vtl-tbody-td.hover {
    background-color: #e5e7eb;
  }